@using Portfolio.Models
@model AboutMe
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Header</h3>
<form method="POST">
    <div class="form-group">
        @Html.Label("Başlıq")
        @Html.TextBoxFor(m => m.Header, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(m => m.Header, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Məzmun")
        @Html.TextBoxFor(m => m.Content, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary mb-2">@ViewBag.Button</button>
</form>
